$euiPageDefaultMaxWidth: map-get($euiBreakpoints, 'xl');
$euiPageSidebarWidth: $euiSize * 12;

.euiPage {
  min-height: 100%;
}

.euiPage--grow {
  flex-grow: 1;
}

.euiPageBody--restrictWidth-default,
.euiPage--restrictWidth-default {
  // TODO: Increase default max-width and use a variable
  max-width: $euiPageDefaultMaxWidth + ($euiSizeL * 2);
}

// TODO: Allow more page components to accept `restrictWidth`
.euiPageHeader--restrictWidth-default {
  width: 100%;
  max-width: $euiPageDefaultMaxWidth + ($euiSizeL * 2);
  margin-left: auto;
  margin-right: auto;

  .euiPageContent & {
    max-width:  $euiPageDefaultMaxWidth;

    @include euiBreakpoint('xs', 's') {
      max-width: 100%;
    }
  }
}

.euiPageContent {
  min-width: 0;
}

.euiPageContentBody--restrictWidth-default {
  width: 100%;
  max-width:  $euiPageDefaultMaxWidth;
  margin-left: auto;
  margin-right: auto;
}

// .euiPageBody--panelled {
//   @include euiBottomShadowSmall;
//   border-radius: $euiBorderRadius;
//   border: $euiBorderThin;
//   background-color: $euiColorEmptyShade;
// }

